# ignore textbooks
*.pdf

# ignore class notes
*.org
*.tex

# ignore compilation files generated Altera Monitor Program
*.elf
*.s.o
*.srec
*.amp

# ignore submit files
code
code.zip

lab7/multicycle/multicycle/db
lab7/multicycle/multicycle/incremental_db
